<div class='container bg-light p-4 my-2 mx-auto'>
  <h1 class='text-primary mb-5'>Centro de mensajes</h1>
  <input type='text' class='form-control' id='nameMessage' />
  <hr />
  <div>
    {{#each listItems}}

      <p>{{this.name}}: {{this.message}}</p>

    {{/each}}
  </div>
  <div class='d-flex'>
    <input type='text' class='form-control' id='message' />
    <button id='sendMessage' class='btn btn-success mt-4'>Enviar!</button>
  </div>

</div>